<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metafinal.home.mapper.HomeMapper">


    <select id="getHomeList" resultType="com.metafinal.home.domain.HomeDTO" parameterType="String">
        SELECT ADDRESS, PARK_NAME, PARK_DIST, HOS_NAME, HOS_DIST, SUB_NAME, SUB_DIST,
        BUS_NAME, BUS_DIST, PARKING_NAME, PARKING_DIST, LOW_NAME, LOW_DIST,
        MID_NAME, MID_DIST, HI_NAME, HI_DIST, CF_NAME, CF_DIST,
        CONVE_NAME, CONVE_DIST, ART_NAME, ART_DIST
        FROM AI_LEARN
        WHERE ADDRESS LIKE '%' || #{address} || '%'
    </select>

</mapper>