<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metafinal.home.mapper.HomeMapper">
    <!-- 전체 데이터 조회 -->
    <select id="getAllHomes" resultType="map">
        SELECT * FROM HOME_AI_MV
    </select>

    <!-- 조건부 데이터 조회 지역만 선택했을 경우 -->
    <select id="getHomeArea" parameterType="string" resultType="map">
        SELECT * FROM HOME_AI_VIEW
        WHERE ADDRESS LIKE '%' || #{address} || '%'
    </select>

    <!-- 조건부 데이터 조회 주택유형만 선택했을 경우 -->
    <select id="getHomeKind" parameterType="string" resultType="map">
        SELECT * FROM HOME_AI_VIEW
        WHERE HOME_KIND = #{homeKind}<!-- 뒤에  추가 -->
    </select>

    <!-- 조건부 데이터 조회 주택유형,지역 선택했을 경우 -->
    <select id="getMyHome" parameterType="string" resultType="map">
        SELECT * FROM HOME_AI_VIEW
        WHERE ADDRESS LIKE '%' || #{address} || '%' AND HOME_KIND = #{homeKind}<!-- 뒤에  추가 -->
    </select>

    <select id="getSubwayList" resultType="map">
        SELECT SUB_LAT, SUB_LON FROM SUBWAY
    </select>

    <select id="getBusList" resultType="map">
        SELECT BUS_LAT, BUS_LON FROM BUS
    </select>

    <select id="getHospList" resultType="map">
        select HOS_LAT, HOS_LON from HOSPITAL
    </select>

    <select id="getParkList" resultType="map">
        SELECT PARK_LAT, PARK_LON FROM PARK
    </select>

    <select id="getElemList" resultType="map">
        SELECT LOW_LAT, LOW_LON FROM LOWSCHOOLE
    </select>

    <select id="getMidList" resultType="map">
        SELECT MID_LAT, MID_LON FROM MIDDLESCHOOLE
    </select>

    <select id="getHighList" resultType="map">
        SELECT HI_LAT, HI_LON FROM HIGHSCHOOLE
    </select>

    <!-- 조건부 데이터 조회 지역만 선택했을 경우 -->
    <select id="findByAddress" parameterType="string" resultType="map">
        SELECT * FROM HOME_AI_VIEW
        WHERE ADDRESS = #{address}
    </select>

</mapper>